#mediaicons {
  background-color: #fcffcc;
  border-radius: 6px;
  padding: 0.1rem;
  padding-top: 0.1rem;
  padding-bottom: 0.0001rem;
  height: fit-content;
  width: fit-content;
  margin-left: auto;
}

#mediaicons > a {
  text-decoration: none;
}

.header {
  background-color: #fcffcc;
  font-size: 4.5rem;
  max-width: fit-content;
  margin: auto;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 0%;
  margin-top: 1.6rem;
  border-radius: 6px;
}

.subheader {
  font-size: large;
  background-color: #fcffcc;
  max-width: fit-content;
  margin: auto;
  margin-top: 0.5rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-radius: 4px;
}

.navstyle {
  background: #fcffcc;
  border-radius: 6px;
  max-width: fit-content;
  padding: 3px;
  margin: auto;
  text-align: center;
  margin-bottom: 1rem;
}

.pagedesc {
  text-align: center;
  font-size: 5.625rem;
  background-color: #fcffcc;
  max-width: fit-content;
  margin: auto;
  padding-left: 14px;
  padding-right: 16px;
  margin-bottom: 1.7rem;
  border-radius: 7px;
}

.subdesc {
  text-align: center;
  background-color: #fcffcc;
  font-size: 1.25rem;
  max-width: fit-content;
  margin: auto;
  margin-top: 0.5rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-radius: 4px;
}

#sticker0 {
  position: absolute;
  top: 470px;
  left: 35px;
  width: 255px;
  height: 65px;
  background-color: white;
  border-radius: 0.6rem;
  transform: rotate(0.003turn);
  color: black;
}

#sticker1 {
  position: absolute;
  top: 470px;
  left: 420px;
  width: 255px;
  height: 65px;
  background-color: white;
  border-radius: 0.6rem;
  transform: rotate(0.003turn);
  color: black;
}
